﻿@page "/"
@inject HttpClient httpClient
@using Nethereum.Web3
@using System.ComponentModel.DataAnnotations.Schema;

<h1>Wallets</h1>

@if (wallets == null)
{
    <div class="lds-circle"><div></div></div>
}
else
{
<table>
    <thead>
      <tr>
          <th>Id</th>
          <th>Address</th>
          <th @onclick="SortByBalance">Balance</th>
      </tr>
    </thead>
<tbody>
@foreach (var wallet in wallets)
{
    <tr>
        <td>@wallet.Id</td>
        <td>@wallet.Address</td>
        <td>@wallet.Balance</td>
    </tr>
}
</tbody>
</table>
}

@code {
    private List<Wallet> wallets;

    protected override async Task OnInitializedAsync()
    {
        await LoadWallets();
    }
    private async Task LoadWallets()
    {
        var web3 = new Web3("https://sepolia.infura.io/v3/64e83f3b305041b0a1d83464110ce665");

        var responseForWalletsFromDB    =    await httpClient.PostAsync("https://localhost:7258/GetWalletsFromDB", null);
        var responseForBalancesFromNode =    await httpClient.PostAsync("https://localhost:7258/GetBalancesFromNode", null);

        var walletsFromDatabase = await responseForWalletsFromDB.Content.ReadFromJsonAsync<List<Wallet>>();
        wallets = await responseForBalancesFromNode.Content.ReadFromJsonAsync<List<Wallet>>();
    }

    private bool sortByBalanceAsc = false;

    private void SortByBalance()
    {
        if (sortByBalanceAsc)
        {
            wallets = wallets.OrderByDescending(w => w.Balance).ToList();
        }
        else
        {
            wallets = wallets.OrderBy(w => w.Balance).ToList();
        }
        sortByBalanceAsc = !sortByBalanceAsc;
    }
    public class Wallet
    {
        public int Id { get; set; }
        public string Address { get; set; }

        [NotMapped]
        public decimal Balance { get; set; }
    }
}
